@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");
$white: #fafaff;
$white_2: #f5fcff;
$black: #000;
$main_1: #6533ff;
$main_2: #ef2b43;
$main_3: #2fb1ea;
$main_4: #33e583;
$main_5: #ffd522;
$main_6: #78cc8f;
$main_ligth_1: #b19ffc;
$main_ligth_2: #f98598;
$main_ligth_3: #8cddf9;
$main_ligth_4: #7df9b2;
$main_ligth_5: #ffe473;
$main_dark_1: #09064f;
$main_dark_2: #751121;
$main_dark_3: #17617a;
$darkgreen: #16723d;
$main_dark_5: #7f5416;
$neutral: #c4bf1a;
$gray_0: #f7f7f7;
$gray_1: #ebebeb;
$gray_2: #a7a7a7;
$gray_3: #8f8f8f;
$transparent: transparent;
$statusBar: #541dff;
$backgroundgray: #f1efef;

body {
  position: relative;
  padding-bottom: 6rem;
  min-height: 100vh !important;
  background-color: $main_1 !important;
  font-family: "Varela Round", sans-serif !important;
}
.img-body {
  width: 30rem;
  margin: 10rem 1rem 15rem 1rem;
}
.principal-title {
  text-align: center;
  color: white;
  border-left: 15px solid #ffffff;
  margin-top: 10rem;
  padding-left: 1.5rem;
  text-shadow: 0.1em 0.01em rgba(51, 51, 51, 0.397);
  span {
    font-size: 20px;
    font-style: italic;
    color: #2beba1;
    text-shadow: none;
  }
}

.cel {
  margin: 4rem auto 10rem;
  display: block;
  max-width: 80rem;
  border-radius: 150px;
  filter: drop-shadow(0 2px 5px rgba(0, 0, 0, 0.582)); 
}
.gif{
  width: 20rem;
  border-radius: 20px;
  filter: drop-shadow(0 2px 5px rgba(0, 0, 0, 0.582)); 
  margin: 11rem 6rem 10rem 7rem;
}
.title-r{
  text-align: center;
  color: white;
  margin-top: 10rem;
  padding-left: 1.5rem;
  text-shadow: 0.1em 0.01em rgba(51, 51, 51, 0.397);
  
}
.list{
  font-size: 20px;
  color: #b19ffc;
  margin-left: 5rem;
  padding: 1rem;
}
@media (max-width: 1200px) {
  .img-body {
    width: 20rem;
    margin: 10rem 1rem 1rem 1rem;
  }
  .principal-title {
    text-align: center;
    color: white;
    border-left: none;
    border-bottom: 10px solid #ffffff;
    margin: 3rem 1rem;

    padding-bottom: 2rem;
    span {
      font-size: 20px;
      font-style: italic;
    }
  }
  .cel {
    margin: 4rem auto 4rem;
    display: block;
    max-width: 20rem;
    border-radius: 100px;
    
  }
  .gif{
    width: 15rem;
    margin: 4rem auto 4rem;
    display: block;
  }
  .list{
    font-size: 20px;
    color: #b19ffc;
    margin: 1rem;
    padding: 1rem;
  }
    
}
