@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");
$white: #fafaff;
$white_2: #f5fcff;
$black: #000;
$main_1: #6533ff;
$main_2: #ef2b43;

//body {
//  position: relative;
//  padding-bottom: 6rem;
//  min-height: 100vh;
//  width: 100%;
//  background-color:$main_1 !important;
//  font-family: "Varela Round", sans-serif;
//}
