
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap");
$main_1: #6533ff;
.container-Privacity{
    width: 80%;
    margin: 6rem auto;
    font-family: "Montserrat", sans-serif;
    h4{
        text-align: center;
        color: #6533ff;
        font-weight: 600;
        margin: 1.5rem;
    }
    h6{
        color: #ffffff;
    }
}